<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cheapo</title>
    <!-- css -->
    <% include ../partials/stylesheet %>
</head>

<body>
    <% include ../partials/header %>
        <div class="container">
            <div style="text-align: center;">
                <h1>Cheapo Auctions</h1>
            </div>
            <div style="height: 450px;width: 75%;margin: auto;border-radius: 15px;overflow: hidden;background-color: lightblue;position: relative;margin: 0 auto;">
                <img src="/img/banner01.jpg" style="width: 100%;height: 100%;vertical-align: middle" alt="rip">
                <div class="content" style="position: absolute;padding: 15px;background: rgba(0, 0, 0, 0.5);color: aliceblue;width: 100%;bottom: 0;text-align: center;font-size: 32px;">
                    0 days 0 hours 0 mins 0 secs
                </div>
            </div>
            <br>
            <div style="width: 100%;background-color: antiquewhite;float: left;">
                <% auction.forEach(function(auction){ %>
                <div style="height: 280px;width: 25%;float: left;display: flex">
                    <div style="border: 1px solid rgb(197, 187, 187);width: 95%;height: 95%;margin: auto;border-radius: 5px;">
                        <div style="height: 73%;width: 100%;display: flex;">
                            <% item.forEach(function(item){ %>
                            <% if(item.itemID == auction.itemAuctionID){ %>
                            <div style="height: 95%;width: 95%;border: 1px solid pink;margin: auto;position: relative;">
                                <img onload="dTimer(this)" data-timer="<%= auction.endDate %>" data-countD="<%= auction.auctionID %>" alt="Img" style="height: 100%;width: 100%;" src="../imghere/<%= item.itemPic %>">
                                <div id="<%= auction.auctionID %>" style="position: absolute;padding: 5px;width: 100%;bottom: 0;text-align: center;font-size: 13px;background: rgba(0, 0, 0, 0.5);color: aliceblue">
                                    0 days 0 hours 0 mins 0 secs
                                </div>
                            </div>
                        </div>
                        <div style="height: 27%;width: 100%;">
                            <div style="height: 95%;width: 95%;margin: auto;position: relative;">
                                <div style="height: 50%;width: 100%;font-size: 18px;">                                    
                                            <%= item.name %>
                                        <% } %>
                                    <% }) %>
                                </div>
                                <div style="height: 50%;width: 100%;">
                                    <div style="height: 100%;width: 70%;font-size: 25px;float: left;">
                                        $<%= auction.highestPrice %>
                                    </div>
                                    <a class="btn btn-success" href="<%= auction.auctionID %>" style="height: 100%;width: 30%;float: lef;">Details</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
        <% include ../partials/footer %>
        <!-- jQuery Plugins -->
        <% include ../partials/javascript %>
        <script>                   
            function dTimer(aucD) {
                var timer = aucD.getAttribute("data-timer");
                var divId = aucD.getAttribute("data-countD");
                var dueDate = new Date(timer).getTime();
                var countDown = setInterval(function () {
                var now = new Date().getTime();
                var duration = dueDate - now;
                var days = Math.floor(duration / (1000 * 60 * 60 * 24));
                var hours = Math.floor((duration % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((duration % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((duration % (1000 * 60)) / 1000);
                document.getElementById(divId).innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s";
                if (duration < 0) {
                    clearInterval(countDown);
                    document.getElementById(divId).innerHTML = "EXPIRED"
                }
            })
            }
        </script>
</body>
</html>