<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cheapo</title>
    <!-- css -->
    <% include ../partials/stylesheet %>
</head>

<body>
    <% include ../partials/header %>
        <div class="container">
            <div style="height: 550px;width: 30%;display: flex;border: 0.5px solid lightgray;float: left;">
                <div style="height: 95%;width: 90%;border: 1px solid lightgray;margin: auto;overflow: hidden;">
                    <div style="height: 8%;width: 100%;display: flex;">
                        <h3 style="margin: auto;font-style: calibri;font-weight: 100;">Auction</h3>
                    </div>
                    <hr style="width: 75%;height: 3px;">
                    <div style="display: flex;">                  
                        <div style="overflow: hidden;margin: auto;width: 65%;height: 200px;border-radius: 50%;border: 3px solid rgb(103, 110, 79);">
                            <div style="display: flex;height: 30%;width: 100%;">
                                <p style="margin: auto;font-weight: bold">Ends within:</p>
                            </div>
                            <div style="height: 25%;width: 100%;display: flex;overflow: hidden;">
                                <p id="<%= auction.auctionID %>" style="margin: auto;">0hours 0mins 0sec</p>
                            </div>
                            <div style="height: 45%;width: 100%;overflow: hidden;display: flex;">
                                <div style="margin:auto">
                                    <p style="text-align: center">Current bid:</p>
                                    <h3 style="text-align: center;color: rgb(212, 100, 72)">$<%= auction.highestPrice %></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr style="width: 75%;height: 3px;margin: 11px auto;">
                    <form method="POST" style="height:42%;width: 100%;display: flex;">
                        <div style="height: 80%;margin: auto;font-size: 18px;">
                            <div style="height: 50%;width: 100%;display: flex;">
                                <input style="margin: auto;height: 45%;width: 95%;" autocomplete="off" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" name="aucInput" id="aucInput" required>
                            </div>
                            <div style="height: 50%;width: 100%;display: flex;">
                                <button class="btn btn-primary" style="height: 50%;width: 95%;margin: auto;" type="submit">BID</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div style="float: right;width: 70%;height: 550px;display: flex;">
                <div style="height: 95%;width: 85%;margin: auto;border: 1px solid gainsboro;">
                    <div style="height: 75%;width: 100%;background-color: azure;">
                        <img onload="dTimer(this)" data-timer="<%= auction.endDate %>" data-countD="<%= auction.auctionID %>" style="height: 100%;width: 100%;" src="/itemImg/<%= item.itemPic %>" alt="lol">
                    </div>
                    <div style="height: 25%;width: 100%;font-size: 32px;font-family: calibri;padding-left: 15px;">
                        <div style="height: 50%;width: 100%;display: flex;">
                            <p style="margin: auto 0;">Name: <%= item.name %></p> 
                        </div>
                        <div style="height: 50%;width: 100%;display: flex;">
                            <p style="margin: auto 0;">Description: <%= item.detail %></p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include ../partials/footer %>
        <!-- jQuery Plugins -->
        <% include ../partials/javascript %>
</body>

</html>