<!DOCTYPE html>
<html>
<head>
      
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>  
        <script src='/js/popups.js'></script> 
        <script src='/js/chat.js'></script>  
         
    <% include ../partials/stylesheet %>
    <% include ../partials/eugenecss %>
    <title>Cheapo</title>
</head>
<body> 
        <link rel='stylesheet' href='../../../public/css/shafie.css' />
        <div id = "chat">   
             <a href="javascript:void(0)" class="closebtn" onclick="ShowChatButton()">&times;</a>
           <div class="chat-sidebar">
                 <% userList.forEach(function(user){%>  
                    <% if(locals.loginuser.username === user.username) { %>  
                          
                        <div class="sidebar-name">
                            <a style="font-weight:bold">  
                                 
                                <img width="30" height="30" src="/img/<%= user.profilePic %>" /> 
                                <i class="fa fa-circle text-success" aria-hidden="true"></i>
                                <span><%= user.username %> (You)</span> 
                             
                            </a>
                        </div> 
                        <% } else { %> 
                        <% blockList.forEach(function(block){%>    
                        <% if(locals.loginuser.username === block.blockedby) { %>   
                            <% if(user.username === block.blockeduser) { %>  
                                <div class="sidebar-name"> 
               
                                    <a > 
                                        <img width="30" height="30" src="/img/<%= user.profilePic %>" />
                                        <span class="tooltip"><%= user.username %></span>  
                                        <span class="tooltiptext">You blocked <%= user.username %> .</span>
                                        ⛔ 
                                        <form action="/chat" method="delete">  
             
                                            <button class="btn btn-secondary pull-right deleteBtn" type="button" data-id="<%= block.BlockID%>" onClick="window.location.reload()">✖</button> 
                                            </form>
                                    </a>
                                </div>  
                                 
                                <% } else { %>   
                                    <% if(user.userType === "Admin") { %>  
                                    <div class="sidebar-name"> 
               
                                        <a href="javascript:register_popup('<%= user.username %>', '<%= user.username %>');">
                                            <img width="30" height="30" src="/img/<%= user.profilePic %>" />
                                            <span>👨 <%= user.username %></span>
                                        </a>
                                    </div>  
                                    <% } else { %>   
                                        <div class="sidebar-name"> 
               
                                            <a href="javascript:register_popup('<%= user.username %>', '<%= user.username %>');">
                                                <img width="30" height="30" src="/img/<%= user.profilePic %>" />
                                                <span> <%= user.username %></span>
                                            </a>
                                        </div>  
                                        <% } %>
                                    <% } %>
                        <% } else { %>    
                            <% if (user.username === block.blockedby) { %>
                            <% if (locals.loginuser.username === block.blockeduser) { %>  
                                <div class="sidebar-name"> 
                                         <a > 
                                        <img width="30" height="30" src="/img/<%= user.profilePic %>" /> 
                                        🚫
                                        <span class="tooltip"><%= user.username %></span>  
                                        <span class="tooltiptext"> <%= user.username %> blocked you.</span>
                                          
                                    </a>
                                </div>  
                                <% } else { %> 
                                    <% } %>  
                                    <% } else { %> 
                                        <% } %>
                        <% } %> 
                        <% }) %>
                     
                    <% } %>
                    
                <% }) %>
               
                
                 
           </div>  
           <form method="post" > 
            <input id="blockuser"  type="text" placeholder="Username..." name="blockuser"   required> 
            <small> <button type="submit" id="blockpls"  >Block</button></small> 
             
           </form> 
            
            
        </div> 
        <button id="returnhome" type="button" class="primary-btn" onclick="location.href='http://localhost:3000/';">Home</button>  
        <button id="gotopopup" type="button" class="primary-btn" onclick="location.href='http://localhost:3000/popup';">Popup</button> 
        <button id="chatbutton" type="button" class="primary-btn"  onclick="getElementById('chat').style.display = 'block'; this.style.display = 'none'" >Chat</button> 
         
     

    <!-- JS -->
    <% include ../partials/javascript %> 
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>  
    <script>
        $('.deleteBtn').click(function() {
            var block_id = $(this).data('id');      
            $.ajax({
                    url: '<%-urlPath%>'+'/'+block_id,
                    type: 'DELETE',
                    success: function(result) {
                        console.log(result.message);
                        var BlockToRemove = '.list-group-item[data-id='+block_id+']';
                        $(BlockToRemove).remove();
                    },
                    error: function(result){
                        alert("Unable to remove block.");
                        console.log(result.message);
                    } 
                });  
        });
       
    </script>
    <% messageList.forEach(function(msg){%> 
        <% if(locals.loginuser.username === msg.sentby) { %>  
            <script> 
            //  window.onload = function() {
            //     var e = document.getElementById("Toh").getElementById("chatroom")[0];
            //     e.innerHTML = "fku"; 
            // };  
            
                 
                
             
            </script>
            <% } else { %> 
                <% } %>
    <% }) %> 
    <script src='/js/shafieextra.js'></script>
</body>
</html>
