<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>E-SHOP HTML Template</title>

	<!-- Google font -->
	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="/css/raysonStyle.css" />
	<% include ../partials/stylesheet %>

</head>

<body>

	<% include ../partials/header %>
	
	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
					<% 
					if(itemSearch == undefined || itemSearch == "") {
						itemPost.forEach(function(itemPost){ %>
							<div style="height:400px; width:25%; display:flex; font-family: Calibri; float: left; text-align:center; margin-bottom: 25px;">
								<div style="width:85%; height:95%; margin:auto;">	
									<div style="height:100%; width:100%;">
										<label style="float: left; width:100%; height:5%;"> By: <%= itemPost.ownerName %></label>
										<div style="height:55%; width:100%; display:flex;">
											<img style="margin:auto; width:85%; height:95%;" src="images/<%= itemPost.itemPic %>" class="figure-img img-fluid img-rounded" style="height:200px; width: 200px;">
										</div>
										<div style="width:100%; height:10%; overflow:hidden;">
											<h2> <%= itemPost.title %> </h2> 
										</div>
										<label id="productFont" style=" width:100%; height:5%; overflow:hidden;"> S$<%= itemPost.price %> </label>
										<label id="productFont" style="width:100%; height:5%; overflow:hidden;"> Brand: <%= itemPost.brand %> </label> 
										<label id="productFont" style="width:100%; height:5%; overflow:hidden;"> Details: <%= itemPost.prodDesc %> </label> 
										<div style="width:100%; height:15%;">
											<button class="productBtn btn" data-id="<%= itemPost.id%>" >View Product</button>
										</div>
									</div>
								</div>
							</div>
							
						 <% })

						} else { 
						 itemPost.forEach(function(itemPost){ 
							var items = (itemPost.title).split(" ");
							for(var i = 0; i < items.length; i++) {
								if (itemSearch.toLowerCase() == items[i].toLowerCase()) { %>

									<div style="height:400px; width:25%; display:flex; font-family: Calibri; float: left; text-align:center; margin-bottom: 25px;">
											<div style="width:85%; height:95%; margin:auto;">	
												<div style="height:100%; width:100%;">
													<label style="float: left; width:100%; height:5%;"> By: <%= itemPost.ownerName %></label>
													<div style="height:55%; width:100%; display:flex;">
														<img style="margin:auto; width:85%; height:95%;" src="images/<%= itemPost.itemPic %>" class="figure-img img-fluid img-rounded" style="height:200px; width: 200px;">
													</div>
													<div style="width:100%; height:10%; overflow:hidden;">
														<h2> <%= itemPost.title %> </h2> 
													</div>
													<label id="productFont" style=" width:100%; height:5%; overflow:hidden;"> S$<%= itemPost.price %> </label>
													<label id="productFont" style="width:100%; height:5%; overflow:hidden;"> Brand: <%= itemPost.brand %> </label> 
													<label id="productFont" style="width:100%; height:5%; overflow:hidden;"> Details: <%= itemPost.prodDesc %> </label> 
													<div style="width:100%; height:15%;">
														<button class="productBtn btn" data-id="<%= itemPost.id%>" >View Product</button>
													</div>
												</div>
											</div>
										</div>
							<% }} }) }%>								
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

	<!-- jQuery Plugins -->
	<% include ../partials/javascript %>

	<% include ../partials/footer %>
	<script>
		$('.productBtn').click(function() {
			var imageId = $(this).data('id');
			window.location.replace("/itemProduct/" + imageId)
			console.log("Check show")
			$.ajax({
				url: '<%=urlPath%>' + '/' + imageId,
				type: 'GET',
				success: function(result){
					console.log('View Image')
				}
			})
		})
		
	</script>
</body>

</html>
