<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>E-SHOP HTML Template</title>

	<!-- Google font -->
	<!-- Bootstrap -->
	<link rel="stylesheet" href="/css/raysonStyle.css" />
	<% include ../partials/stylesheet %>

</head>

<body>

	<% include ../partials/header %>

	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href='#'>Home</a></li>
				<li class="active">Blank</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row"> 
					<% 
					if(itemSearch == undefined || itemSearch == "") {
						itemPost.forEach(function(itemPost){ %>
							<div class="col-md-3" style="border-style: solid; text-align: center; box-sizing: border-box;">	
									<div class="classWithPad">
										<label style="float: left;"> By: <%= itemPost.ownerName %></label> <br>
										<img src="images/<%= itemPost.itemPic %>" class="figure-img img-fluid img-rounded" style="height:200px; width: 200px;"> <br>
										<h2> <%= itemPost.title %> </h2> <br>
										<label id="productFont"> S$<%= itemPost.price %> </label><br>
										<label id="productFont"> Brand: <%= itemPost.brand %> </label> <br>
										<label id="productFont"> Details: <%= itemPost.prodDesc %> </label> <br>
										<button class="productBtn" data-id="<%= itemPost.id%>">View Product</button>
									</div>
								</div>
						 <% })

						} else { 
						 itemPost.forEach(function(itemPost){ 
							var items = (itemPost.title).split(" ");
							for(var i = 0; i < items.length; i++) {
								if (itemSearch.toLowerCase() == items[i].toLowerCase()) { %>

									<div class="col-md-3" style="border-style: solid; text-align: center; box-sizing: border-box;">	
										<div class="classWithPad">
											<label style="float: left;"> By: <%= itemPost.ownerName %></label> <br>
											<img src="images/<%= itemPost.itemPic %>" class="figure-img img-fluid img-rounded" style="height:200px; width: 200px;"> <br>
											<h2> <%= itemPost.title %> </h2> <br>
											<label id="productFont"> S$<%= itemPost.price %> </label><br>
											<label id="productFont"> Brand: <%= itemPost.brand %> </label> <br>
											<label id="productFont"> Details: <%= itemPost.prodDesc %> </label> <br>
											<button class="productBtn" data-id="<%= itemPost.id%>">View Product</button>
										</div>
									</div>
							<% }} }) }%>
								
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

	<!-- jQuery Plugins -->
	<% include ../partials/javascript %>

	<% include ../partials/footer %>
	<script>
		$('.productBtn').click(function() {
			var imageId = $(this).data('id');
			window.location.replace("/itemProduct/" + imageId)
			console.log("Check show")
			$.ajax({
				url: '<%=urlPath%>' + '/' + imageId,
				type: 'GET',
				success: function(result){
					console.log('View Image')
				}
			})
		})
		
	</script>
</body>

</html>
