<!doctype HTML>
<html>
<head>
    <meta charset="UTF-8">
    <% include ../partials/javascript %>
    <% include ../partials/stylesheet %>
    <% include ../partials/eugenecss %>
    <title>Cheapo - <%= user.username %>'s Profile</title>
</head>
<body>
    <% include ../partials/header %>

    <% if(locals.loginuser.username == user.username) { %>
    <span class="openSideNav" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; More</span>
    <div class="sidenav" id="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/profile/<%= locals.loginuser.username %>">Profile</a>
        <a href="/edit/profile">Edit Profile</a>
        <a href="/changePassword">Change Password</a>
        <a href="/2FA">2-Factor Authentication</a>
    </div>
    <% } else { %>
    <% } %>

    <div class="bodyProfile">   
        <div class="media" style="position: relative;left:390px;">      
            <div class="media-left">
                <img src="http://localhost:3000/img/<%= user.profilePic %>" alt="Profile Picture" width="160px" height="160px" style="border: 3px solid black; border-radius: 2px;">
            </div>
            <div class="media-body" style="position: relative;left:50px; font-size: 17px;">
                <p style="font-size: 22px"><strong value=""><%= user.username %></strong></p>
                <p><strong>Email</strong>: <%= user.email %><br></p>
                <p><strong>Date Joined</strong>: <%= user.joinDate %></p>
                <p><strong>Type (Member/Admin)</strong>: <%= user.userType %></p>
                <%if (yOn == 1){ %><strong style="padding-left: 30px;"> <button id="btnUnFollow" style="height: 50%;" class="btn">Following</button> </strong>
                <% } else { %>
                    <strong style="padding-left: 30px;"> <button id="btnFollow" style="height: 50%;" class="btn">Follow</button> </strong> <% } %>       
            </div>
        </div>
        <p style="text-align: center; position: relative; font-weight: bold; font-size: 20px;color: black; margin: 50px 0 20px 0;">Items Posted</p>
        <%if(itemPost == undefined || itemPost == null || itemPost == 0){ %>
            <p style="text-align: center; position: relative; font-size: 20px;color: black; margin-bottom:  100px;">This user currently has no items posted</p>
        <% } else {
            itemPost.forEach(function(itemPost){%>
                <div style="height:400px; width:25%; display:flex; font-family: Calibri; float: left; text-align:center; margin-bottom: 25px;">
                    <div style="width:85%; height:95%; margin:auto;">	
                        <div style="height:100%; width:100%;">
                            <label style="float: left; width:100%; height:5%;"> By: <a href="/profile/<%= itemPost.ownerName %>"><%= itemPost.ownerName %></a></label>
                            <div style="height:55%; width:100%; display:flex;">
                                <img style="margin:auto; width:85%; height:95%;" src="http://localhost:3000/images/<%= itemPost.itemPic %>" class="figure-img img-fluid img-rounded" style="height:200px; width: 200px;">
                            </div>
                            <div style="width:100%; height:10%; overflow:hidden;">
                                <h2> <%= itemPost.title %> </h2> 
                            </div>
                            <label id="productFont" style=" width:100%; height:5%; overflow:hidden;"> S$<%= itemPost.price %> </label>
                            <label id="productFont" style="width:100%; height:5%; overflow:hidden;"> Brand: <%= itemPost.brand %> </label> 
                            <label id="productFont" style="width:100%; height:5%; overflow:hidden;"> Details: <%= itemPost.prodDesc %> </label> 
                            <div style="width:100%; height:15%;">
                                <button class="productBtn btn" data-id="<%= itemPost.id%>" >View Product</button>
                            </div>
                        </div>
                    </div>
                </div>
        <%  }) } %>
    </div>
    <% include ../partials/footer %>
    <script>
		$('.productBtn').click(function() {
			var imageId = $(this).data('id');
			window.location.replace("/itemProduct/" + imageId)
			console.log("Check show")
			$.ajax({
				url: '<%=urlPath%>' + '/' + imageId,
				type: 'GET',
				success: function(result){
					console.log('View Image')
				}
			})
        })

        $('#btnFollow').click(function() {
			$.ajax({
				url: '/mail/follow/<%= user.userID %>',
				type: 'GET'
			})
        })

        $('#btnUnFollow').click(function() {
			$.ajax({
				url: '/mail/unFollow/<%= user.userID %>',
				type: 'GET'
			})
        })

        function openNav() {
            $("#sidenav").css("width", "242px")
        }
        function closeNav() {
            $("#sidenav").css("width", "0")
        }    
	</script>
</body>  
</html>
