<!doctype HTML>
<html>
<head>
    <meta charset="UTF-8">
    <% include ../partials/javascript %>
    <% include ../partials/stylesheet %>
    <% include ../partials/eugenecss %>
    <title><%= title %></title>
</head>
<body>
    <% include ../partials/header %>
    <div style="position: relative; left:1175px;">
        <a href="/edit/profilepicture" class="btn" id="editprofile">Edit Profile</a>
    </div>
    <div class="body">    
        <div class="media" style="position: relative;left:250px;">      
            <div class="media-left">
                <img src="<%= avatar %>" alt="Profile Picture" width="160px" height="160px" style="border: 3px solid black; border-radius: 2px;">
            </div>
            <div class="media-body" style="position: relative;left:50px; font-size: 17px">
                <p style="font-size: 22px"><strong><%= username %></strong></p>
                <p><strong>Email</strong>: <%= email %><br></p>
                <p><strong>User ID</strong>: <%= userID %></p>
                <p><strong>Date Joined</strong>: <%= dateJoined %></p>
                <p><strong>Type (Member/Admin)</strong>: <%= type %></p>
                <p><strong>Membership Rank</strong>: <%= membership %></p>
            </div>
        </div>     
    </div>
    <a href="/logout" class="btn btn-default">Logout</a>
    <% include ../partials/footer %>
</body>  
</html>
