<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title><%= title %></title>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet" />
    <!-- PayPal API -->
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="/css/slick-theme.css" />
    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/css/nouislider.min.css" />
    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- Custom stylesheet -->
    <link type="text/css" rel="stylesheet" href="/css/raysonStyle.css" />
</head>

<body>
<style>
    .tooltip {
    position: relative;
    display: inline-block;
    }

    .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    }

    .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    }

    .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    }
</style>
    <% include ../partials/header %>
    <!-- section -->
    <center>
        <div class="section">
                <div class="container">
                    <h2>Shopping Cart</h2>
                    <div class="checkout-panel">
                            <div class="panel-body">
                                <div class="bar">
                                    <div class="step"></div>
                                    <div class="step"></div>
                                    <div class="step"></div>
                                    <div class="step"></div>
                                </div>
                            </div>
                    </div>
                    <br>
                    <br>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                                <div class="#">
                                        <div class="heading cf">
                                            <h1>My Cart</h1>
                                            <a href="/itemPosted" class="continue">Continue Shopping</a>
                                        </div>
                                    </div>
                        </div>
                        <div class="panel-body">
                                <div class="cart">
                                        <ul class="tableHead">
                                            <li class="prodHeader">Product</li>
                                            <li>Quantity</li>
                                            <li>Total</li>
                                            <li>Remove</li>
                                        </ul>
                                        <% products.forEach(function(products){ %>
                                            <ul class="cartWrap">
                                                <li class="items even" data-id="<%= products.ProductID %>">
                                                    <div class="infoWrap">
                                                        <div class="cartSection">
                                                            <img src="<%= products.ProductImage %>" alt="" class="itemImg" />
                                                            <h3>
                                                                <%= products.ProductName %>
                                                            </h3>
                                                            <p>
                                                                <%= products.ProductDescription %>
                                                            </p>
                                                            <br>
                                                            <p class="itemNumber stockStatus">Uploaded By: <%= products.dataValues.sellerName %></p>
                                                            <br> 
                                                            <p class="stockStatus"> In Stock</p>
                                                        </div>
                                                        <div class="prodTotal cartSection">
                                                            <p>$<%= products.ProductPrice %>
                                                            </p>
                                                        </div>
                                                        <div class="cartSection removeWrap">
                                                            <a class="remove" data-id="<%= products.ProductID %>">x</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <% }); %>
                                    </div>
                        </div>
                        <br><br>
                        <div class="panel-footer">
                                <div class="promoCode">
                                        <label for="promo">Have A Promo Code?</label>
                                        <input type="text" name="promo" class="promoCodeInput" placholder="Enter Code" />
                                        <button class="btn btn-continue" style="margin-top: 2em; background-color: #82ca9c; color: whitesmoke" onclick="promoCode()"></button>
                                    </div>
                                    <div class="subtotal cf">
                                        <ul>
                                                            <li class="totalRow">
                                                                <span class="label">Subtotal</span>
                                                                <span class="value">$<%= subtotal %></span>
                                                            </li>
                                                            <li class="totalRow">
                                                                <span class="label">Shipping</span>
                                                                <span class="value">$<%= shippingFee %></span>
                                                            </li>
                                                            <li class="totalRow final">
                                                                <span class="label">Total:</span>
                                                                <span>
                                                                    <p class="value" id="money">$<%= total %></p>
                                                                </span>
                                                            </li>
                                                            <li class="totalRow">
                                                                <a href="/confirmation" style="margin-bottom: 1em; background-color: #82ca9c"class="btn continue">Checkout</a>
                                                            </li>
                                        </ul>
                                    </div>
                        </div>
                    </div>
                </div>
        </div>
    </center>
          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"><%=announce%></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <label for="coup">Your Promo Code:</label>
                        <input id = "coup"class="form-control" type="text" value="<%=coupons%>" readonly>
                        <br>
                        <center><button class="btn btn-primary" id="notAvailable" onclick="copyClipboard()">Copy text</button></center>
                </div>
                <div class="modal-footer">
                    <center><p class = "instructions" id="itemNumber">Copy the promo code and apply it on your shopping cart!</p></center>
                </div>
                </div>
            </div>
            </div>
    <!-- section -->
    <% include ../partials/footer %>
    <!-- jQuery Plugins -->
    <script src="/js/checkout.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/ss/nouislider.min.js"></script>
    <script src="/js/jquery.zoom.min.js"></script>
    <script src="/js/main.js"></script>
    <script>
            function promoCode() {
                var promoCode = $(".promoCodeInput").val();
                alert(promoCode)
                if (promoCode == $("#coup").val() && promoCode != 'Oops no coupons for you today!')
                {
                    alert("Correct Code")
                    var promoCodeDsicount = 0.2;
                    var totalPrice = $("#money").text();
                    var sliced = parseInt(totalPrice.slice(1));
                    $("#money").text("$" + (sliced * (1-promoCodeDsicount).toFixed(2)));        
                } 
                else if (promoCode == "")
                {
                    alert("Please Enter A Promo Code!")
                }
                else
                {
                    alert("Wrong Code Please Try Again!")
                }
            }

            function copyClipboard() {
                /* Get the text field */
                var copyText = document.getElementById("coup");

                /* Select the text field */
                copyText.select();

                /* Copy the text inside the text field */
                document.execCommand("copy");

                /* Alert the copied text */
                alert("Copied the text: " + copyText.value);
            }

            $(window).load(function() {
            // executes when complete page is fully loaded, including all frames, objects and images

            //remove the button and instructions 
            if ("<%=announce%>" != "You cannot receive anymore coupons!")
            {
                //load the modal on load
                if ("<%=announce%>" == "Oops better luck next time!")
                {
                    $("#notAvailable").prop('disabled',true);
                    $(".instructions").addClass("hidden");
                    $('#exampleModalCenter').modal('toggle');
                }
                else
                {
                    $('#exampleModalCenter').modal('toggle');
                }
            }
            else if ("<%=announce%>" == "Oops better luck next time!")
            {
                $(".btn btn-primary").addClass("hidden");
                $(".instructions").addClass("hidden");
            }
            });

            $('.remove').click(function () {
                var ProductID = $(this).data("id");
                $.ajax({
                    url: '<%-urlPath%>' + '/' + ProductID,
                    type: 'DELETE',
                    success: function (result) {
                        console.log(result.message);
                        var itemToRemove = '.items even[data-id=' + ProductID + ']';
                        $(itemToRemove).remove();
                        location.reload(true);
                    },
                    error: function (result) {
                        alert("Unable to delete Product.");
                        console.log(result.message);
                    }
                });
            });
            </script>
</body>

</html>
