var markers = [];

function initMap(){
    var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';

    var c = function(pos){
        var lat = pos.coords.latitude,
            long = pos.coords.longitude,
            coords = lat + " , " + long;

    var p1 = {
        lat: parseFloat('<%= myLatitude %>'),
        lng: parseFloat('<%= myLongitude %>')
    }

    var p2 = {
        lat: lat,
        lng: long
    }
    var rad = function(x) {
        return x * Math.PI / 180;
    };

    var getDistance = function(p1, p2) {
        var R = 6378137; // Earth’s mean radius in meter
        var dLat = rad(p2.lat - p1.lat);
        var dLong = rad(p2.lng - p1.lng);
        var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
            Math.cos(rad(p1.lat)) * Math.cos(rad(p2.lat)) *
            Math.sin(dLong / 2) * Math.sin(dLong / 2);
        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
        var d = (parseFloat(R * c));
        
        console.log(d);
        return d; // returns the distance in meter
    };
    
    // //Home marker
    // addMarker({
    // 	coords:{lat: lat, lng: long},
    // 	content: '<h3>Current Location</h3>'
    // });

    // //Delivery van marker
    // addMarker({
    // 	coords:{lat: parseFloat('<%= myLatitude %>'), lng: parseFloat('<%= myLongitude %>')},
    // 	iconImage: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
    // 	content: '<h3>Delivery Van Location</h3><br><p>Delivery Van is ' + Math.round(getDistance(p1,p2))  + 'm Away from you.'
    // });

    //Add marker function
    var homeMarker = new google.maps.Marker({
            position: {lat: lat, lng: long},
            map:map
        });

        var vanMarker = new google.maps.Marker({
            position: {lat: parseFloat('<%= myLatitude %>'), lng: parseFloat('<%= myLongitude %>')},
            map:map			
        });

        // marker.addListener('click', function() {
        // 	map.setZoom(14);
        // 	map.setCenter(marker.getPosition());
        // });
        
        homeMarker.addListener('click', toggleBounce);
        vanMarker.addListener('click', toggleBounce);
        
        function toggleBounce() {
            if (homeMarker.getAnimation() !== null || vanMarker.getAnimation() !== null) {
                homeMarker.setAnimation(null);
                vanMarker.setAnimation(null);
            } else {
                homeMarker.setAnimation(google.maps.Animation.BOUNCE);
                vanMarker.setAnimation(google.maps.Animation.BOUNCE);
            }
          }

        map.addListener('click', function() {
            map.setZoom(11);
        })

        //Check content
        var infoWindowhome = new google.maps.InfoWindow({
            content: '<h3>Current Location</h3>'
        });

        var infoWindowvan = new google.maps.InfoWindow({
            content: '<h3>Delivery Van Location</h3><br><p>Delivery Van is ' + Math.round(getDistance(p1,p2))  + 'm Away from you.'
        });

        homeMarker.addListener('click', function(){
            infoWindowhome.open(map,homeMarker);
            map.setZoom(14);
            map.setCenter(homeMarker.getPosition());
        })

        vanMarker.addListener('click', function(){
            infoWindowvan.open(map,vanMarker);
            map.setZoom(14);
            map.setCenter(vanMarker.getPosition());
        })
    }
    
    var e = function(error) {
        if (error.code === 1) {
            alert('Unable to get location!');
        }
    }
  
    navigator.geolocation.getCurrentPosition(c, e);

    //Map options
    var options = {
        zoom: 11,
        center: {lat: 1.3521, lng:103.8198}
    }
    
    var map = new google.maps.Map(document.getElementById('map'), options);
}
    
    //Codes to move markers
    function movingMarkers() {
        
    }

    setInterval (function() {
        movingMarkers();
    }, 5000);

    var markers = [];

function initMap() {
	var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';

	var c = function(pos) {
		var lat = pos.coords.latitude,
			long = pos.coords.longitude,
			coords = lat + " , " + long;

		var p1 = {
			lat: parseFloat('<%= myLatitude %>'),
			lng: parseFloat('<%= myLongitude %>')
		}

		var p2 = {
			lat: lat,
			lng: long
		}
		var rad = function(x) {
			return x * Math.PI / 180;
		};

		var getDistance = function(p1, p2) {
			var R = 6378137; // Earth’s mean radius in meter
			var dLat = rad(p2.lat - p1.lat);
			var dLong = rad(p2.lng - p1.lng);
			var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
				Math.cos(rad(p1.lat)) * Math.cos(rad(p2.lat)) *
				Math.sin(dLong / 2) * Math.sin(dLong / 2);
			var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
			var d = (parseFloat(R * c));

			console.log(d);
			return d; // returns the distance in meter
		};

		//Home marker
		var homeMarker = addMarker({
			coords: {
				lat: lat,
				lng: long
			},
			content: '<h3>Current Location</h3>'
		});

		//Delivery van marker
		var vanMarker = addMarker({
			coords: {
				lat: parseFloat('<%= myLatitude %>'),
				lng: parseFloat('<%= myLongitude %>')
			},
			iconImage: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
			content: '<h3>Delivery Van Location</h3><br><p>Delivery Van is ' + Math.round(getDistance(p1, p2)) + 'm Away from you.'
		});

		//Codes to move markers
		function movingMarkers() {
		for (var i = 0; markers.length; i++)
			homeMarker.setMap(null);
			vanMarker.setMap(null);
		}

		setInterval(function() {
			movingMarkers();
		}, 5000);

		//Add marker function
		function addMarker(props) {
			var marker = new google.maps.Marker({
				position: props.coords,
				map: map,
				icon: props.iconImage
			});
			markers.push(marker);

			marker.addListener('click', function() {
				map.setZoom(14);
				map.setCenter(marker.getPosition());
			});

			marker.addListener('click', toggleBounce);

			function toggleBounce() {
				if (marker.getAnimation() !== null) {
					marker.setAnimation(null);
				} else {
					marker.setAnimation(google.maps.Animation.BOUNCE);
				}
			}

			map.addListener('click', function() {
				map.setZoom(11);
			})

			//Check for customicon
			if (props.iconImage) {
				marker.setIcon(props.iconImage);
			}

			//Check content
			if (props.content) {
				var infoWindow = new google.maps.InfoWindow({
					content: props.content
				});

				marker.addListener('click', function() {
					infoWindow.open(map, marker);
				})
			}
		}
	}

	var e = function(error) {
		if (error.code === 1) {
			alert('Unable to get location!');
		}
	}

	navigator.geolocation.getCurrentPosition(c, e);

	//Map options
	var options = {
		zoom: 11,
		center: {
			lat: 1.3521,
			lng: 103.8198
		}
	}

	var map = new google.maps.Map(document.getElementById('map'), options);

}