<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>E-SHOP HTML Template</title>

	<!-- Google font -->
	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="/css/raysonStyle.css" />
	<% include ../partials/stylesheet %>

</head>

<body>

	<% include ../partials/header %>

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<h1> My Products </h1>
			<button onclick="location.href = 'http://localhost:3000/sellDetails';" class="btn" style="float:right;">Post an Item</button>
			<div class="section">
					<div class="container">
						<br>
						<br>
						<div class="panel panel-default">
							<div class="panel-body">
									<div class="cart">
											<% itemPost.forEach(function(itemPost){ %>
												<% if(itemPost.ownerName == loginuser.username){ %>
													<ul class="cartWrap">
															<li class="items even" data-id="<%= itemPost.id %>">
																<div class="infoWrap">
																	<div class="cartSection">
																		<img src="images/<%= itemPost.itemPic %>" alt="" class="itemImg" />																		<h3>
																		
																		<h3> 
																			<%= itemPost.title %> 
																		</h3>
																		<h4>
																			$<%= itemPost.price %>
																		</h4>
																		<p>
																			<%= itemPost.prodDesc %>
																		</p>
																		<h4>
																			Status: 
																		</h4>
																	</div>
																	
																	<div class="row">
																		<div class="col-lg-4"></div>
																		<div class="col-lg-8">
																				<a class="editBtn btn" data-id="<%= itemPost.id%>">Edit Item</a>
																				<a class="btn"> Auction</a>
																		</div>
																	</div>
																	<div class="cartSection removeWrap">
																		<a class="deleteBtn remove" style="float:right;" data-id="<%= itemPost.id %>">x</a>
																	</div>
																</div>
															</li>
														</ul>
												<% }; %>
												<% }); %>
										</div>
							</div>
						</div>
					</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

	<!-- jQuery Plugins -->
    <% include ../partials/javascript %>
    
    <% include ../partials/footer %>
    <script>
        $('.deleteBtn').click(function() {
			var item_id = $(this).data('id');
			$.ajax({
				url: 'http://localhost:3000/itemPosted/' + item_id,
				type: 'DELETE',
				success: function(result) {
					console.log(result);
					var itemToRemove = '.list-group-item[data-id=' + item_id + ']';
					$(itemToRemove).remove();
					location.reload();
				},
				error: function(result){
					alert("Unable to delete item.");
					console.log(result);
				}
			});
		})
		$('.editBtn').click(function () {
			var record_num = $(this).data('id');
			location.href = "http://localhost:3000/editProduct/" + record_num;
		});

    </script>
</body>

</html>
